<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    {{> header}}

    <div class="container my-2">
        <div class="row">
            <div class="col">
                <h2>Edit Employee</h2>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col">
                {{#if employee}}
                    <form action="/editemployee" method="post">
                        <input type="hidden" name="id" value="{{employee.id}}">
                        <input type="text" class="form-control" name="firstName" value="{{employee.firstName}}">
                        <input type="text" class="form-control" name="lastName" value="{{employee.lastName}}">
                        <select class="form-control" data-employeeDept="{{employee.department}}" name="department">
                            <option value="Research">Research</option>
                            <option value="Billing">Billing</option>
                            <option value="Marketing">Marketing</option>
                        </select>
                        <input type="date" class="form-control" name="startDate" value="{{employee.startDate}}">
                        <input type="text" class="form-control" name="jobTitle" value="{{employee.jobTitle}}">
                        <input type="number" class="form-control" name="salary" value="{{employee.salary}}">
                        <input type="submit" class="btn btn-warning" value="Update Employee">
                    </form>
                {{else}}
                    <p class="text-danger">No employee selected :(</p>
                {{/if}}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>