<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Employee</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    {{> header}}

    <div class="container my-2">
        <div class="row">
            <div class="col">
                <h2>New Employee</h2>
            </div>
        </div>
        <hr>

        {{#if createFailState}}
        <div class="row">
            <div class="col">
                <p class="text-danger">Failed to create employee</p>
            </div>
        </div>
        {{/if}}

        <div class="row">
            <div class="col">
                <form action="/createemployee" method="post">
                    <input type="text" class="form-control" name="firstName" value="{{postData.firstName}}" placeholder="First name">
                    <input type="text" class="form-control" name="lastName" value="{{postData.lastName}}" placeholder="Last name">
                    <select class="form-control" name="department" data-post-data-dept="{{postData.department}}">
                        <option value="Research" selected>Research</option>
                        <option value="Billing">Billing</option>
                        <option value="Marketing">Marketing</option>
                    </select>
                    <input type="date" class="form-control" name="startDate" value="{{postData.startDate}}">
                    <input type="text" class="form-control" name="jobTitle" value="{{postData.jobTitle}}" placeholder="Job Title">
                    <input type="number" class="form-control" name="salary" value="{{postData.salary}}">
                    <input type="submit" class="btn btn-success" value="Create Employee">
                </form>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>