<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    {{> header}}

    <div class="container my-2">
        <div class="row">
            <div class="col">
                <h2>View Employees</h2>
            </div>
        </div>
        <hr>

        {{#if readFailState}}
        <div class="row">
            <div class="col">
                <p class="text-danger">Failed to get employees</p>
            </div>
        </div>
        {{/if}}

        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Department</th>
                            <th>Start Date</th>
                            <th>Job Title</th>
                            <th>Salary</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each employees}}
                        {{#with this}}
                        <tr>
                            <td>{{firstName}}</td>
                            <td>{{lastName}}</td>
                            <td>{{department}}</td>
                            <td>{{startDate}}</td>
                            <td>{{jobTitle}}</td>
                            <td>{{salary}}</td>
                            <td>
                                <a href="/editemployee?id={{id}}" class="btn btn-warning">Edit</a>
                            </td>
                            <td>
                                <a href="/deleteemployee?id={{id}}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        {{/with}}
                        {{/each}}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>